<h1>Let's Learn Ruby!</h1>
<div class="row">
    <div class="large-4 columns">
        <div class="panel">
            <h2>Lesson {{model.lessonNumber}}</h2>

            <h3 id="lesson_title">{{model.lessonTitle}}</h3>
            {{markdown-to-html markdown=model.lessonBody}}
            {{#link-to 'lessons.edit' model class='button tiny'}}Edit lesson{{/link-to}}
        </div>
    </div>
    <div class="large-8 columns">
        {{ivy-codemirror value=model.lessonCode theme="lesser-dark" mode="ruby" }}
    </div>
</div>
