<div class="row">
    <h1>Welcome Nubies!</h1>

    <p>This site is built with love to help you get started coding in the least scary way possible</p>


    <div class="row">
        <div class="small-5 columns">
            <div class="panel callout">
                <ul class="small-block-grid-3">
                    <li><img class="th" src="assets/images/ruby.png" alt=""/></li>
                    <li><img class="th" src="assets/images/opal.png" alt=""/></li>
                    <li><img class="th" src="assets/images/tomster.png" alt=""/></li>
                    <li><img class="th" src="assets/images/broccoli.png" alt=""/></li>
                    <li><img class="th" src="assets/images/yeti.png" alt=""/></li>
                    <li><img class="th" src="assets/images/jquery.png" alt=""/></li>
                </ul>
            </div>
        </div>
    </div>
</div>

